@model ResultModel

@{
    ViewBag.Title = "Results";
}

<h1>Scan Results</h1>
<h2>Your letter grade: @ViewBag.Message</h2>
<br />
<br />
<h2>Your breakdown: @ViewBag.Message1</h2>
<br />
<br />
<h3>Industry Average: A</h3>
<br />
<h3>Sector Average:</h3>
<br />
<h4>Technology: B</h4>
<h4>Dental: A</h4>

